* {
  box-sizing: border-box;
  margin: 0;
  font-family: Helvetica;
}

.header {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  padding: 0 372px;
  position:absolute;
  background-color: white;
}

.header__logo {
  height: 64%;
}

.header__navigation {
  height: 100%;
  display: flex;
}

.header__navigation-item {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 13px;
  text-decoration: none;
  font-weight: 700;
  color: black;
}

.header__navigation-item-image {
  height: 25px;
  margin-left: 8px;
}

.welcomeHeader {
    width: 100%;
    height: 560px;
    background-color: #e5f4fb;
    box-sizing: border-box;
    padding-top: 65px;
    box-sizing: border-box;
    padding-left: 370px;
    padding-right: 370px;
    font-size: 14px;
}

.welcomeHeader__topLine {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
}

.welcomeHeader__topLine-left {
    display: flex;
    height: 100%;
    align-items: center;
}

.welcomeHeader__topLine-left img {
  height: 30%;
  margin: 0 10px;
}

.welcomeHeader__topLine-right {
  display: flex;
  height: 100%;
  align-items: center;
}

.welcomeHeader__topLine-right img {
  height: 50%;
}

.welcomeHeader__topLine-right a {
  margin: 0 5px;
}