* {
  box-sizing: border-box;
  margin: 0;
  font-family: Helvetica;
}

.header {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  padding: 0 372px;
  position:absolute;
  background-color: white;
}

.header__logo {
  height: 64%;
}

.header__navigation {
  height: 100%;
  display: flex;
}

.header__navigation-item {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 13px;
  text-decoration: none;
  font-weight: 700;
  color: black;
}

.header__navigation-item-image {
  height: 25px;
  margin-left: 8px;
}

.welcomeHeader {
    width: 100%;
    height: 680px;
    background-color: #e5f4fb;
    box-sizing: border-box;
    padding-top: 65px;
    box-sizing: border-box;
    padding-left: 370px;
    padding-right: 370px;
    font-size: 14px;
}

.welcomeHeader__topLine {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.welcomeHeader__topLine-left {
    display: flex;
    height: 100%;
    align-items: center;
}

.welcomeHeader__topLine-left img {
  height: 30%;
  margin: 0 10px;
}

.welcomeHeader__topLine-right {
  display: flex;
  height: 100%;
  align-items: center;
}

.welcomeHeader__topLine-right img {
  height: 50%;
}

.welcomeHeader__topLine-right a {
  margin: 0 5px;
}

.welcomeHeader__content {
  display: flex;
}

.welcomeHeader__content-left-subtitle {
  font-size: 25px;
  color: #008fd0;
}

.welcomeHeader__content-left-title {
  font-size: 40px;
  color: #242a56;
}

.welcomeHeader__content-left-checkmarks {
  margin: 20px 0 45px;
}

.welcomeHeader__content-left-checkmarks .item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.item-checkmark {
  height: 30px;
  margin-right: 10px;
}

.item-description {
  font-size: 18px;
  color: #008fd0;
}

.welcomeHeader__content-left-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 65px;
  margin: 20px 0;
  background-color: #5e9b00;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.welcomeHeader__content-left-button img {
  height: 33px;
}

.welcomeHeader__content-right {
  width: 40%;
  display: flex;
  padding: 25px 80px;
}

.welcomeHeader__content-right-box {
  height: 100%;
  width: 100%;
  background-color: #242a56;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  padding: 25px 15px;
}

.welcomeHeader__content-right-box h6{
  color: white;
  text-align: center;
  font-size: 15px;
}

.card-img {
  height: 150px;
  object-fit: contain;
}

.welcomeHeader__content-right-box-examples {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcomeHeader__content-right-box-examples .example {
  height: 100%;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcomeHeader__content-right-box-examples .example p{
  color: white;
  font-size: 12px;
  text-align: center;
}

.vertical-divider {
  width: 1px;
  height: 80%;
  background-color: white;
  margin: 0 5px;
}

.welcomeHeader__content-right-box-paragraph {
  text-align: center;
  color: white;
  font-size: 12px;
  margin-top: 10px;
}

.welcomeHeader__bottomCards {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.welcomeHeader__bottomCards-card {
  height: 100%;
  width: 32%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.22);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.welcomeHeader__bottomCards-card img {
  height: 70%;
  margin-right: 20px;
}

.welcomeHeader__bottomCards-card h4 {
  font-size: 25px;
}

.welcomeHeader__bottomCards-card p {
  font-size: 15px;
}

.reviews {
  width: 100%;
  height: 430px;
  background-color: #008fd0;
  margin-bottom: 400px;
  color: white;
  text-align: center;
  padding: 40px 370px;
}

.reviews__title {
  font-size: 30px;
  margin-bottom: 20px;
}

.reviews__subtitle {
  font-size: 20px;
  margin-bottom: 20px;
}

.reviews__review {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews__review-arrow-left,
.reviews__review-arrow-right {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews__review-arrow-left img,
.reviews__review-arrow-right img{
  height: 60%;
}

.reviews__review-content {
  height: 100%;
  width: 720px;
  background-color: white;
  margin: 0 50px;
  border-radius: 10px;
  display: flex;
  padding: 20px 30px;
}

.reviews__review-content-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.reviews__review-content-info-quote {
  color: black;
  font-weight: bold;
}

.reviews__review-content-info-data {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #008fd0;
}

.reviews__review-content-info-data .date {
  display: flex;
  align-items: center;
}

.reviews__review-content-info-data .date .clock{
  height: 17px;
  margin-right: 3px;
  margin-bottom: 2px;
}

.reviews__feefo {
  height: 57px;
  margin-top: 20px;
}
